<!DOCTYPE html>
<html>
  <head>
    <title>HairGuitar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, messages| %>
      <div class='flashes'>
        <% messages.each do |title, message|  %>
          <div>
            <% unless ['lat', 'lng'].include?(title) %>
              <%= title.to_s + ': ' + message[0].to_s  %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
